#cinq_section
    margin-top: 20px
    text-align: center
    h3
        font-weight: bold

    .carousel
        position: relative
        width: 80%
        height: 400px
        margin: 0 auto
        background-color: #cacaca
        display: flex
        overflow-x: hidden 
       
        .item
            margin-left: 8%
            margin-right: 8%
            transition: transform 0.5s linear
            transform: translateX(0)
        img
            width: 180px
            height: 180px 
    #butt
        background-color: #cacaca
        width: 80%
        margin: 0 auto

        #butt_1
            padding: 5px
            border: 1px solid black
            border-radius: 50px
            position: relative

            @media screen and ( max-width: 1025px  )
                font-size: 70px
                    
            @media screen and ( max-width: 769px  )
                font-size: 50px
            @media screen and ( max-width: 569px  )
                font-size: 40px
            @media screen and ( max-width: 569px  )
                font-size: 20px
        #butt_2
            padding: 5px
            border: 1px solid black
            border-radius: 50px
            position: relative

            @media screen and ( max-width: 1025px  )
                font-size: 70px
                    
            @media screen and ( max-width: 769px  )
                font-size: 50px
            @media screen and ( max-width: 569px  )
                font-size: 40px
            @media screen and ( max-width: 569px  )
                font-size: 20px
        
        #butt_3
            padding: 5px
            border: 1px solid black
            border-radius: 50px
            position: relative

            @media screen and ( max-width: 1025px  )
                font-size: 70px
            @media screen and ( max-width: 769px  )
                font-size: 50px
            @media screen and ( max-width: 569px  )
                font-size: 40px
            @media screen and ( max-width: 569px  )
                font-size: 20px
        
        #butt_4
            padding: 5px
            border: 1px solid black
            border-radius: 50px
            position: relative

            @media screen and ( max-width: 1025px  )
                font-size: 70px
            @media screen and ( max-width: 769px  )
                font-size: 50px
            @media screen and ( max-width: 569px  )
                font-size: 40px
            @media screen and ( max-width: 569px  )
                font-size: 20px
        #butt_5
            padding: 5px
            border: 1px solid black
            border-radius: 50px
            position: relative
            display: none

            @media screen and ( max-width: 1025px  )
                font-size: 70px
            @media screen and ( max-width: 769px  )
                display: unset
            @media screen and ( max-width: 569px  )
                font-size: 40px
            @media screen and ( max-width: 569px  )
                font-size: 20px
        #butt_6
            padding: 5px
            border: 1px solid black
            border-radius: 50px
            position: relative
            display: none
            
            @media screen and ( max-width: 1025px  )
                font-size: 70px
            @media screen and ( max-width: 769px  )
                display: unset
            @media screen and ( max-width: 569px  )
                font-size: 40px
            @media screen and ( max-width: 569px  )
                font-size: 20px
// Boutton "display : unset" (media Querry @media screen and())
// mettre élément en absolute
// display : flex
// Centrer les éléments dans la div container
