#trois_section
    margin-top: 10px
    h3
        width: 100%
        text-align: center
    .col-md-3
        align-items: center
        .imgs
            width: 150px
            height: 150px
            overflow: hidden